body {
    background-color: #001733;
    color: white;
}

.pill {
    font-weight: bold;
    font-size: 30px;
    background-color: #487EC1;
    width: 100px;
    text-align: center;
    border-radius: 70px / 30px;
    padding: 3px 10px;
    box-shadow: 0 7px 0 0 #2A4E7A, 0 10px 0 0 #2A4E7A;
    text-shadow: 0px 1px 2px black;
    text-transform: uppercase;

    line-height: 1;
}
.pill[data-text]::after {
    content: attr(data-text);
    display: block;
    position: absolute;
    width: 120px;
    margin-left: -20px;
}
