<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/app.css">

        <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">

        <title>Weakest Link</title>
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-dark shadow-sm mb-5 mt-4">
                <div class="container justify-content-center">
                    <span class="mb-0 h1" @click="showControls=!showControls" style="cursor:pointer">Weakest Link</span>
                </div>
            </nav>

            <div class="container">

                <div class="row mb-4" v-if="sharedState.gameState == 'names'">
                    <div class="col col-4 offset-4">
                        <Names @submit="submitNames"></Names>
                    </div>
                </div>

                <div class="row" v-if="sharedState.gameState.startsWith('round:')">
                    <div class="col d-flex flex-column align-items-center">
                        <Chain class="mb-4"></Chain>
                        <p class="pill mb-5" data-text="Bank">&pound{{sharedState.bank}}</p>
                    </div>
                    <div class="col">
                        <Controls v-if="showControls"></Controls>
                        <Players></Players>
                    </div>
                    <div class="col d-flex flex-column align-items-center">
                        <p class="pill mb-5" data-text="Round">{{sharedState.round}}</p>
                        <Timer class="mb-5"></Timer>
                        <p class="pill mb-5" data-text="Kitty">&pound;{{sharedState.kitty}}</p>
                    </div>

                    <Modal></Modal>

                </div>

            </div>

            <Sound></Sound>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./js/components/Chain.js"></script>
        <script src="./js/components/Controls.js"></script>
        <script src="./js/components/Modal.js"></script>
        <script src="./js/components/Names.js"></script>
        <script src="./js/components/Players.js"></script>
        <script src="./js/components/Sound.js"></script>
        <script src="./js/components/Timer.js"></script>
        <script src="./js/Game.js"></script>
        <script src="./js/index.js"></script>
    </body>
</html>
