<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/app.css">

        <link href="https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap" rel="stylesheet">

        <title>Weakest Link</title>
    </head>
    <body>
        <div id="app">
            <nav class="navbar navbar-dark shadow-sm mb-5 mt-4">
                <div class="container justify-content-center">
                    <span class="mb-0 h1" @click="showControls=!showControls" style="cursor:pointer">Weakest Link</span>
                </div>
            </nav>

            <div class="container">

                <div class="row" v-if="showControls">
                    <div class="col-4 offset-4">
                        <Controls></Controls>
                    </div>
                </div>

                <div class="row mb-4" v-if="sharedState.gameState == 'names'">
                    <div class="col col-4 offset-4">
                        <Names @submit="submitNames" :min="sharedState.minPlayers" :max="sharedState.maxPlayers"></Names>
                    </div>
                </div>

                <div v-if="sharedState.gameState.startsWith('round:')">
                    <round-cycle></round-cycle>
                </div>

                <div class="text-center" v-if="sharedState.gameState == 'ended'">
                    <h1>Congratulations {{sharedState.remainingPlayers[0]}}!</h1>
                </div>

            </div>

            <Sound></Sound>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="./js/components/Chain.js"></script>
        <script src="./js/components/Controls.js"></script>
        <script src="./js/components/EliminationList.js"></script>
        <script src="./js/components/Modal.js"></script>
        <script src="./js/components/Names.js"></script>
        <script src="./js/components/Players.js"></script>
        <script src="./js/components/RoundCycle.js"></script>
        <script src="./js/components/Sound.js"></script>
        <script src="./js/components/Timer.js"></script>
        <script src="./js/Game.js"></script>
        <script src="./js/index.js"></script>
    </body>
</html>
